*{
    box-sizing: border-box;
}
header{
    background-color: rgb(176, 175, 175);
    text-align: center;
    padding: 20px;
}
.navbar{
    background-color: rgb(248, 204, 150);
    height: 50px;
}
aside{
    width: 20%;
    float: left;
    padding: 10px;
}
section{
    width: 40%;
    float:left;
    padding: 10px;

}
article{
    width: 40%;
    float: left;
    padding: 10px;
}
footer{
    background-color: rgb(242, 107, 107);
    text-align: center;
    padding: 20px;
    display: block;
    clear: both;
}
@media screen and (max-width:600px){
    aside,section,article{
        width: 100%;
    }
}
.gallery{
    display: inline-block;
    margin: 10px;padding: 10px;
    border: 5px solid rgb(235, 235, 29);
    width: 200px;
}
.gallery .description{
    padding:10px;
    text-align: center;
}
.gallery:hover{
   border: 2px solid rgb(235, 235, 29); 
}
.gallery img{
    width: 100%;
    height: auto;
}
.box{
    width: 150px;
    height: 150px;
    font-size: 6em;
    text-align: center;
    border-radius: 10px;
}
#box1{
    background-color: rgb(222, 46, 46);
    align-self: center;
}
#box2{
    background-color: rgb(240, 240, 83);
    align-self: end;
}
#box3{
    background-color: rgb(172, 242, 66);
    order: -1;
}
#box4{
    background-color: rgb(83, 83, 234);
}
.container{
    display: flex;
    border: 10px solid black;
    height: 600px;
    justify-content: space-evenly;
}