body{
    background-color: rgb(245, 237, 237);
    margin:0px;
    border: 3px solid;
    display: flow-root;
    
}
h1{
    background-color: red;
    font-family: verdana, arial;
    border: 10px groove;
    border-color: darkgoldenrod;
    border-radius: 40px;
}
.odd{
    background-color: blue;
    font-family:'Times New Roman';
    font-weight: bold;
    font-style: normal;
    color: white;
    border: 5px dotted black;
    border-radius:10px ;

}
.even{
    background-color: brown;
    font-family: 'Franklin Gothic Medium';
    font-size: 110%;
    font-weight: bolder;
    color: white;
    border: 5px solid black;
    border-radius:5px ;
}
#p1{
    color: tomato;
    font-family: "lucida console",'Courier New';
    font-size: 1em;
    font-weight: lighter;
    font-style:normal;
    border-right: 3px inset black ;
    border-left: 3px outset black ;
    border-bottom: 3px double black ;
    border-top: 3px dotted black ;
    border-radius: 5px;
}
#p2{
    color:rgb(102, 233, 150) ;
    font-family: Verdana,'Geneva';
    font-size: 20px;
    font-weight: inherit;
    font-style: bold;
    border-bottom: 3px ridge black ;
    border-radius: 5px;
}
#p3{
    color: #31f32e;
    font-family: "lucida console",'Courier New';
    font-size: 1em;
    font-weight: lighter;
    font-style:normal;
    border-left: 3px double black ;
    border-radius: 5px;
}
#p4{
    color: hsl(283, 91%, 54%);
    font-family: 'Times New Roman', Times, serif;
    font-size: 2cap;
    font-weight: 200;
    font-style: italic;
    border-top: 3px outset black ;
    border-radius: 5px;
}
#one{
text-shadow: 5px 5px 2px blue, -6px -6px 3px green;
}
.box
{
    border: 3px solid;
    width: 250px;
    height: 250px;
    font-size: 5em;
    background-color: bisque;
    box-shadow: 3px 3px 2px;
}
#box1{
    background-color: blue;
    margin: auto;
}
#box2{
    background-color: darkorange;
    margin: right;
}
#img1{
    float: left;
    margin-right: 10px;
}
#img2{
    float: right;
    margin-left: 10px;
}
#di{
    border: 2px solid;
    height: 50px;
    overflow: auto; 
}
*{
    box-sizing: border-box; 
} 
.ok{
    border: 2px solid;
    padding: 25px;
    height: auto;
    width: 50%;
    float: left;
    max-width: 25%;

}


