body{
    margin: 10px;
    display: flow-root;
    background-color: black;
}
.box{
    width: 200px;
    height: 200px;
    border: 3px solid;
    font-size: 11em;
    text-align: center;
    transform: translateX(100px) rotateZ(45deg) scale(0.5)
}
#box1{
     background-color:blue;
}
#box2{
    background-color: yellow;
}
#box3{
    background-color:green;
}
img{
    width: 300px;
    height: 300px;
    transform: translateX(100px) rotateZ(75deg) scalex(0.75);
}
#box4{
    width: 250px;
    height: 250px;
    font-size: 10em;
    text-align: center;
    background-color: aquamarine;
    animation-name:slideRight;
    animation-duration:3s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-timing-function:steps(10);
   
}
#shrek{
    animation-name:slideRight;
    animation-duration:3s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-timing-function:steps(10);
}

@keyframes slideleft{
    from{transform: translateY(100%);}
}
@keyframes slideRight{
    to{transform: translateX(100%)}
}
@keyframes slideup{
    from{transform: translateY(200%)}
}
@keyframes slidedown{
    to{transform: translateY(200%)}
}
@keyframes rotate{
    100%{transform: rotateZ(360deg)}
}
@keyframes grow{
    50%{transform: scale(2,2)}
}
@keyframes shrink{
    70%{transform: scale(0.5, 0.5)}
}
@keyframes fade{
    100%{opacity: 0.3}
}
@keyframes colorchange{
    0%{background-color: rgb(249, 250, 250)}
    20%{background-color: rgb(107, 224, 67);}
    50%{background-color: rgb(13, 17, 225);}
    80%{background-color: rgb(250, 7, 181);}
    100%{background-color: yellow;}
    }
@keyframes glow{
    50%{box-shadow: 0px 0px 50px yellow;}

}
